<html>
<head>
  <title>Verify whether objects in pictures are accurate</title>
  <!-- easyturk depends on these libraries -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js'></script>
  <!-- end of required libraries -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
  <style>
    #counter {
      margin: 0 10px;
      font-size: 20pt;
      font-weight: bold;
    }
    img {
      height: 600px;
    }
    img.example {
      height: 200px;
    }
    .tasks-container {
      margin-top: 15px;
      margin-bottom: 30px;
      background-color: #DBDBDB;
    }
    .examples-container {
      margin-top: 15px;
      margin-bottom: 30px;
      background-color: #9fbccb;
    }
    .instructions-container {
      margin-top: 15px;
      margin-bottom: 30px;
      background-color: #F0EAD6;
    }
    p {
      font-size: 17px;
      text-align: center;
    }
    li {
        font-size: 22px;
    }
    div {
        font-size: 22px;
    }
    button {
        margin-top: 10px;
        margin-bottom: 10px;
    }
  </style>
</head>
<body>
<div class='container instructions-container'>
  <div id='instructions-section'>
    <div class='instructions'>
      <div class='row'>
        <div class='col-12'>
          <h1>Instructions</h1>
        </div>
      </div>
      <div class='row'>
        <div class='col-12'>
          <ul>
            <li>Verify whether objects in pictures are accurate.</li>
            <li>In this task, you will be shown a list of pictures and objects in them. Your task is to tell us:
                <ul>
                    <li>Whether the name of the object is correct. (For example, if someone marked a "person" as a "car", tell us that the name is wrong.)</li>
                    <li>Whether the box covers multiple objects or a single object. (For example, if the object is a "person", tell us if the box covers multiple people or just one person. If the box mainly covers one person but part of another person is in the box, then just say that it covers one person.)</li>
                    <li>Whether the box is too loose or excludes some parts of the object. (For example, if the box doesn't cover the "person" completely and their hand is outside the box.</li>
                </ul>
            </li>
            <li>
              Each box should be <b>tight</b> around its object, and should <b>completely cover</b> the object.
              <div class='row text-center'>
                <div class='col-4 bbox-example bg-success'>
                  <b>Good:</b>
                  <br>
                  <img class='img-fluid' src='https://visualgenome.org/static/images/bounding_box_examples/tight_correct.jpg'>
                </div>
                <div class='col-4 bbox-example bg-danger'>
                  <b>Bad:</b>
                  <br>
                  <img class='img-fluid' src='https://visualgenome.org/static/images/bounding_box_examples/tight_wrong1.jpg'>
                </div>
                <div class='col-4 bbox-example bg-danger'>
                  <b>Bad:</b>
                  <br>
                  <img class='img-fluid' src='https://visualgenome.org/static/images/bounding_box_examples/tight_wrong2.jpg'>
                </div>
              </div>
            </li>
            <li>
              Each box should only cover the <b>visible part</b> of all objects mentioned in the text snippet.
              <div class='row text-center'>
                <div class='col-4 col-offset-2 bbox-example bg-success'>
                  <b>Good:</b>
                  <br>
                  <img class='img-fluid' src='https://visualgenome.org/static/images/bounding_box_examples/vis_correct.jpg'>
                </div>
                <div class='col-4 bbox-example bg-danger'>
                  <b>Bad:</b>
                  <br>
                  <img class='img-fluid' src='https://visualgenome.org/static/images/bounding_box_examples/vis_wrong.jpg'>
                </div>
              </div>
            </li>
            <li>
              Objects that take up a large portion of the image should be <b>completey covered</b>
              by their boxes, such as the boxes for the <b>road</b> below:
              <div class='row text-center'>
                <div class='col-4 col-offset-2 bbox-example bg-success'>
                  <b>Good:</b>
                  <br>
                  <img class='img-fluid' src='https://visualgenome.org/static/images/bounding_box_examples/large-good.png'>
                </div>
                <div class='col-4 bbox-example bg-danger'>
                  <b>Bad:</b>
                  <br>
                  <img class='img-fluid' src='https://visualgenome.org/static/images/bounding_box_examples/large-bad.png'>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='container tasks-container'>
  <div class='container'>
    <h2>Here are the objects and pictures we would like you to verify:</h2>
  </div>

  <div class='container-fluid'>
    <div class='row'>
      <div class='col-12'>
        <div id='image-container'>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class='row justify-content-center'>
      <div class='col-6'>
        <h3>Answer the three questions below.</h3>
        <h2>The name of the object is <span id='object-name' style='color: red;'></span></h2>
        <div class='row' style='justify-content-center' style='margin-top: 10px; padding-bottom: 10px;'>
            <div class='col-4'>
                <button id='wrong-name-btn' class='btn btn-lg btn-secondary'>Wrong name</button>
            </div>
            <div class='col-4'>
            </div>
            <div class='col-4'>
                <button id='correct-name-btn' class='btn btn-lg btn-secondary'>Correct name</button>
            </div>
        </div>
        <div class='row' style='justify-content-center' style='margin-top: 10px; padding-bottom: 10px;'>
            <div class='col-4'>
                <button id='wrong-multi-btn' class='btn btn-lg btn-secondary'>Has multiple objects</button>
            </div>
            <div class='col-4'>
            </div>
            <div class='col-4'>
                <button id='correct-multi-btn' class='btn btn-lg btn-secondary'>Has one object</button>
            </div>
        </div>
        <div class='row' style='justify-content-center' style='margin-top: 10px; padding-bottom: 10px;'>
            <div class='col-4'>
                <button id='wrong-box-btn' class='btn btn-lg btn-secondary'>Box is bad</button>
            </div>
            <div class='col-4'>
            </div>
            <div class='col-4'>
                <button id='correct-box-btn' class='btn btn-lg btn-secondary'>Box is good</button>
            </div>
        </div>
      </div>
    </div>
    <div class='row justify-content-center' style='margin-top: 10px; padding-bottom: 10px;'>
      <div class='col-2'>
        <button id='prev-btn' class='btn btn-lg btn-primary' disabled>Back</button>
      </div>
      <div class='col-2'>
        <span id='counter'>
          <span class='counter-top'></span> / <span class='counter-bottom'></span>
        </span>
      </div>
      <div class='col-2'>
        <button id='next-btn' class='btn btn-lg btn-primary' disabled>Next</button>
      </div>
    </div>
  </div>
</div>

<!--IMPORTANT: This import contains all the functions you need to read in your input data and send back worker outputs.-->  
{% include "easyturk.html" %}
<script>
    {% include "javascript/bbox-drawer.js" %}
</script>

<script>
    // Define some default input.
    // It is good practice to define standard inputs for a task which will be overwritten when launching
    // your actual task. The default inputs allow you to render and debug your task locally.
    var DEFAULT_INPUT = [{"url": "https://cs.stanford.edu/people/rak248/VG_100K/1160052.jpg",
                          "name": "object name 1",
                          "box": {"x": 20, "y": 10, "w": 100, "h": 200}},
                         {"url": "https://cs.stanford.edu/people/rak248/VG_100K/1160053.jpg",
                          "name": "object name 2",
                          "box": {"x": 90, "y": 30, "w": 150, "h": 100}}]

    var input = null;

    // This is where we will be collecting the verifications for each image;
    var options = [];

    // Some variables to track state of the HIT.
    var idx = 0;
    var enabled = false;
    var bb = null; // Bounding box drawing object.

    function main() {
      // If this is a HIT on AMT, then replace the default input with the real
      // input.
      input = easyturk.getInput(DEFAULT_INPUT);

      // Enable the task.
      if (!easyturk.isPreview()){
        enableTask();
      }

      // Set up the correct.
      _.each(input, function() { options.push({
          'name': null,
          'box': null,
          'multi': null
      }); });

      // Preload all images
      _.each(input, function(input_elem) {
        var imgUrl = input_elem['url'];
        var img = new Image();
        img.onload = function() { console.log('loaded image from ' + imgUrl); };
        img.src = imgUrl;
      });

      // Activate verification buttons.
      for (var key in options[idx]) {
          $('#correct-' + key + '-btn').click(function(key) {
              return function() {
                  saveOption(key, true);
              };
          }(key));
          $('#wrong-' + key + '-btn').click(function(key) {
              return function() {
                  saveOption(key, false);
              }
          }(key));
      }


      render();
    }

    // Use the current index to update the image and description
    function render() {
        // Draw the bounding box.
        if (bb != null) {
            bb.disable();
            bb.remove();
        }
        $('#image-container').empty();
        bb = new ETJS.BBoxDrawer($('#image-container'), input[idx]['url'], 1000);
        bb.reset();
        bb.addStaticBox(input[idx].box);

        // Set up the input text field
        $('#object-name').text(input[idx].name);
  
        // Refresh the counter
        $('.counter-top').text(idx + 1);
        $('.counter-bottom').text(input.length);

        // Setup the choice that the user already made.
        render_verification_buttons();

        // If the UI is enabled, enable or disable the buttons depending on
        // the index.
        if (enabled) {
            $('#prev-btn').prop('disabled', false);
            $('#next-btn').prop('disabled', false);
            if (idx == 0) {
                $('#prev-btn').prop('disabled', true);
            }
            if (idx == input.length - 1) {
                $('#next-btn').prop('disabled', true);
            }
        }
    }

    function _helper_color_buttons(option, success_id, danger_id) {
        if (option) {
            $(success_id).removeClass('btn-secondary').addClass('btn-success');
            $(danger_id).removeClass('btn-danger').addClass('btn-secondary');
        } else {
            $(success_id).removeClass('btn-success').addClass('btn-secondary');
            $(danger_id).removeClass('btn-secondary').addClass('btn-danger');
        }
    }

    function _helper_default_buttons(button_id) {
        $(button_id).removeClass('btn-danger')
                    .removeClass('btn-success')
                    .addClass('btn-secondary');
    }

    // Render the colors of the buttons to show that user the choice they made.
    function render_verification_buttons() {
        for (var key in options[idx]) {
            if (options[idx][key] != null) {
                _helper_color_buttons(options[idx][key], '#correct-' + key + '-btn', '#wrong-' + key + '-btn');
            } else {
                _helper_default_buttons('#correct-' + key + '-btn');
                _helper_default_buttons('#wrong-' + key + '-btn');
            }
        }
    }

    // Update the index, and save the text in the text area.
    function setIdx(newIdx) {
        if (newIdx < 0 || newIdx >= input.length) return;
        idx = newIdx;
        render();
    }

    function saveOption(key, correct) {
        options[idx][key] = correct;
        render_verification_buttons();
    }

    // Enable the UI.
    function enableTask() {
        enabled = true;
        easyturk.setupSubmit();

        // Enable components
        $('#next-btn').click(function() {
            setIdx(idx + 1);
        });
        $('#prev-btn').click(function() {
            setIdx(idx - 1);
        });
        $('#submit-btn').prop('disabled', false);

        $('#submit-btn').click(function() {
            // Make sure to save the last one.
            for (var i = 0; i < input.length; i++) {
                for (var key in options[i]) {
                    if (options[i][key] == null) {
                        alert('You did not verify image #' + (i+1));
                        return false;
                    }  
                }
            }

        // Copy the options to the output we will return to the requester.
        var output = input;
        for (var i = 0; i < output.length; i++) {
            output[i].option = {}
            for (var key in options[i]) {
                output[i].option[key] = options[i][key];
            }
        }
        if (easyturk.isPreview()) {
            alert("This is only a preview. Here is your output: \n" + JSON.stringify(output));
            return false;
        } else {
            easyturk.setOutput(output);
            return true;
        }
      });
    }

    main();
</script>
</body>
</html>
